  <!-- Footer dùng chung -->
  <footer class="footer">
    <div class="container footer-grid">
      <div>
        <h4>Hỗ trợ</h4>
        <a href="#">Trung tâm trợ giúp</a><a href="#">Yêu cầu trợ giúp về vấn đề an toàn</a>
        <a href="#">AirCover</a><a href="#">Chống phân biệt đối xử</a>
        <a href="#">Hỗ trợ người khuyết tật</a><a href="#">Các tuỳ chọn huỷ</a>
        <a href="#">Báo cáo lo ngại của khu dân cư</a>
      </div>
      <div>
        <h4>Đón tiếp khách</h4>
        <a href="#">Cho thuê nhà trên TripStay</a><a href="#">Đưa trải nghiệm của bạn lên TripStay</a>
        <a href="#">Đưa dịch vụ của bạn lên TripStay</a><a href="#">AirCover cho host</a>
        <a href="#">Tài nguyên về đón tiếp khách</a><a href="#">Diễn đàn cộng đồng</a>
        <a href="#">Đón tiếp khách có trách nhiệm</a>
      </div>
      <div>
        <h4>TripStay</h4>
        <a href="#">Bản phát hành Mùa hè 2025</a><a href="#">Trang tin tức</a>
        <a href="#">Cơ hội nghề nghiệp</a><a href="#">Nhà đầu tư</a>
        <a href="#">Chỗ ở khẩn cấp TripStay.org</a>
      </div>
    </div>
    <div class="container footer-meta">
      <div>© 2025 TripStay, Inc. · <a href="#">Quyền riêng tư</a> · <a href="#">Điều khoản</a> · <a href="#">Sơ đồ trang web</a></div>
      <div class="meta-right"><a class="link" href="#">Tiếng Việt (VN)</a><a class="link" href="#">₫ VND</a><a class="link" href="#">Facebook</a><a class="link" href="#">X</a><a class="link" href="#">Instagram</a></div>
    </div>
  </footer>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/jquery-validation-1.19.3/dist/jquery.validate.min.js"></script>
  </body>

  </html>